*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
h1{
  text-align: center;
  margin-top: 4em;
  color: beige;
  font-size:2em;
}

.container{
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin:5em auto;
    max-width:500px;
    justify-content: center;
    
    
   

    
}
.right {
    background-color: crimson;
    height: 30vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    
}
.left{
    background-color: rgb(19, 140, 140);
    height:30vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    
}
.container p{
    margin: 5px;
    color: aliceblue;
    font-weight:bold;
    font-size:2em;
}
.left p{
    color: rgb(138, 15, 15);
}
.right p{
    color: rgb(124, 124, 166);
}
@media (max-width:480px){
    h1{
        font-size: 10vw;
    }
    .left,.right{
        height: 20vh;
    }
    .container p{
        font-size: 20px;

    }

}




